//imports
@import 'breakpoints';
//variables
$header_height: 60px;
$footer_height: 60px;
$base_color: #0484f3;

.msg_body_me {
    background-color: gainsboro;
    margin-left: auto;
    border-bottom-right-radius: 0 !important;

    .read {
        color: #1a1a1a;
    }
}

.msg_body_receiver {
    background-color: $base_color;
    color: white;
    border-bottom-left-radius: 0 !important;

    .read {
        color: #fffefe;
    }
}

img {
    object-fit: cover;
}

.chat_main_div {
    position: absolute;
    width: 81%;
    height: 80%;
}

//chat container
.chat_container {
    position: inherit;
    width: 100%;
    height: 95%;
    left: 0;
    top: 0;
    border: 1px solid gray;
    border-radius: 11px;
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 6px;

}

//chat list
.chat_list_container {
    border-right: 1px solid gray;
    border-radius: inherit;
    width: 25%;
    height: 100%;

    .chatlist_header {
        border-bottom: 1px solid #0c0c0d;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .title {
            font-size: 19px;
            display: flex;
            padding: 5px 6px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .img_container {
            height: 39px;
            width: 39px;
            margin: auto 2px auto auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid grey;
            }
        }
    }

    .chatlist_body {

        .chatlist_item {
            padding: 2px 8px;
            display: flex;
            flex-wrap: nowrap;
            width: 98%;
            border-radius: 5%;
            border-bottom: 1px solid #adaab0;

            &:hover {
                color: lighten($base_color, $amount: 18%);
                background-color: #797474;
            }

            .chatlist_img_container {
                height: 47px;
                width: 47px;
                margin: auto;
                margin-left: auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .chatlist_info {
                padding: 2px 5px;
                width: 80%;
                display: block;
                //flex-wrap: nowrap;
                .top_row {
                    margin: 3px 0px;
                    width: 100%;
                    display: flex;

                    .list_username {
                        font-size: 16px;
                        width: 80%;
                    }

                    .date {
                        font-size: 13px;
                        margin-left: auto;
                        margin-right: 3px;
                    }
                }

                .bottom_row {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;

                    .message_body {
                        width: 80%;
                        font-weight: lighter;
                        font-family: "Helvetica Neue", sans-serif;
                    }

                    .unread_count {
                        margin-left: auto;
                        font-size: 13px;
                        background-color: gainsboro;
                        padding: 2px 5px;
                        border-radius: 50%;
                        color: rgb(255, 255, 255);
                        font-weight: lighter;
                        align-self: center;
                        background-color: #ad0b0b;
                    }
                }
            }
        }
    }
}

//chat box
.chat_box_container {
    position: relative;
    width: 75%;
    height: 100%;

    .chatbox_header {
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 1px solid #0c0c0d;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .img_container {
            height: 45px;
            width: 45px;
            margin: auto 0 auto 4px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .return {
            margin: auto 0;
            font-size: 21px;
            padding: 7px 11px;
            cursor: pointer;
        }

        .name {
            margin: auto 5px;
            cursor: pointer;
        }

        .info {
            display: flex;
            flex-wrap: nowrap;
            color: #0182f4;
            font-size: 19px;
            margin: auto 0 auto auto;

            .info_item {
                margin: 1px 8px;
                padding: 4px 7px;
                cursor: pointer;

                &:hover {
                    color: lighten($base_color, $amount: 18%);
                }
            }
        }
    }

    .chatbox_body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .chatbox_body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .chatbox_body {
        overflow-y: scroll;
        width: 100%;
        position: absolute;
        top: 60px;
        height: 77%;
        bottom: $footer_height + 3px;
        padding: 11px 11px;

        .msg_body {
            border-radius: 9px;
            display: block;
            width: fit-content;
            max-width: 80%;
            margin-top: 11px;
            padding: 4px 7px;

            .img_container {
                height: 150px;
                width: 150px;
                margin: auto 0 auto 4px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .msg_body_footer {
                margin-top: 5px;
                width: 100%;
                height: 25px;
                display: flex;
                justify-content: end;
                //align-items: right;
                .date {
                    font-size: 13px;
                    padding-right: 7px;
                }
                .delete{
                    margin-left: 2px;
                    margin-right: auto;
                    &:hover {
                        color: lighten($base_color, $amount: 18%);
                    }
                }

            }
        }
    }

    .img_previewer {
        width: 100%;
        height: fit-content;
        //opacity: 0.6;
        position: absolute;
        bottom: 65px;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 11px;
        background-color: #7c7c7e;
    }

    .chatbox_footer {
        width: 100%;
        height: 60px;
        //border-top: 1px solid green;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;

        .custom_form_group {
            margin: auto 0;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 80%;
            padding: 2px 6px;
            background-color: #ffffff;

            .control {
                margin: auto 0;
                width: 90%;
                height: 100%;
                border: 0;
                outline: none;
                box-shadow: none;
                background-color: gainsboro;
                border-radius: 11px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                    border-style: none;
                }
            }

            .submit {
                width: 10%;
                font-size: 10px;
                font-weight: bold;
                color: $base_color;
                text-align: center;
                border-radius: 10px;
                background-color: #bdb7b7;
                border: none;
            }

            .upload-btn-wrapper {
                //position: absolute;
                overflow: hidden;
                display: inline-flex;
            }

            .btn {
                height: 100%;
                font-size: 20px;
                font-weight: bold;
                color: $base_color;
                text-align: center;
                border-radius: 10px;
                background-color: #bdb7b7;
                border: none;
                margin-left: 1px;
                margin-right: 1px;

                &:focus {
                    cursor: pointer;
                    box-shadow: none;
                    outline: none;
                    border-style: none;
                }
            }

            .upload-btn-wrapper input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

        }
    }
}

