.msg_body_me {
  background-color: gainsboro;
  margin-left: auto;
  border-bottom-right-radius: 0 !important;
}
.msg_body_me .read {
  color: #1a1a1a;
}

.msg_body_receiver {
  background-color: #0484f3;
  color: white;
  border-bottom-left-radius: 0 !important;
}
.msg_body_receiver .read {
  color: #fffefe;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.chat_main_div {
  position: absolute;
  width: 81%;
  height: 80%;
}

.chat_container {
  position: inherit;
  width: 100%;
  height: 95%;
  left: 0;
  top: 0;
  border: 1px solid gray;
  border-radius: 11px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px 6px;
}

.chat_list_container {
  border-right: 1px solid gray;
  border-radius: inherit;
  width: 25%;
  height: 100%;
}
.chat_list_container .chatlist_header {
  border-bottom: 1px solid #0c0c0d;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_list_container .chatlist_header .title {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.chat_list_container .chatlist_header .img_container {
  height: 39px;
  width: 39px;
  margin: auto 2px auto auto;
}
.chat_list_container .chatlist_header .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid grey;
}
.chat_list_container .chatlist_body .chatlist_item {
  padding: 2px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 98%;
  border-radius: 5%;
  border-bottom: 1px solid #adaab0;
}
.chat_list_container .chatlist_body .chatlist_item:hover {
  color: #57affc;
  background-color: #797474;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container {
  height: 47px;
  width: 47px;
  margin: auto;
  margin-left: auto;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info {
  padding: 2px 5px;
  width: 80%;
  display: block;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row {
  margin: 3px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .list_username {
  font-size: 16px;
  width: 80%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .date {
  font-size: 13px;
  margin-left: auto;
  margin-right: 3px;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .message_body {
  width: 80%;
  font-weight: lighter;
  font-family: "Helvetica Neue", sans-serif;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .unread_count {
  margin-left: auto;
  font-size: 13px;
  background-color: gainsboro;
  padding: 2px 5px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ad0b0b;
}

.chat_box_container {
  position: relative;
  width: 75%;
  height: 100%;
  /* Hide scrollbar for IE, Edge and Firefox */
}
.chat_box_container .chatbox_header {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #0c0c0d;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_box_container .chatbox_header .img_container {
  height: 45px;
  width: 45px;
  margin: auto 0 auto 4px;
}
.chat_box_container .chatbox_header .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat_box_container .chatbox_header .return {
  margin: auto 0;
  font-size: 21px;
  padding: 7px 11px;
  cursor: pointer;
}
.chat_box_container .chatbox_header .name {
  margin: auto 5px;
  cursor: pointer;
}
.chat_box_container .chatbox_header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #0182f4;
  font-size: 19px;
  margin: auto 0 auto auto;
}
.chat_box_container .chatbox_header .info .info_item {
  margin: 1px 8px;
  padding: 4px 7px;
  cursor: pointer;
}
.chat_box_container .chatbox_header .info .info_item:hover {
  color: #57affc;
}
.chat_box_container .chatbox_body::-webkit-scrollbar {
  display: none;
}
.chat_box_container .chatbox_body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat_box_container .chatbox_body {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 60px;
  height: 77%;
  bottom: 63px;
  padding: 11px 11px;
}
.chat_box_container .chatbox_body .msg_body {
  border-radius: 9px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin-top: 11px;
  padding: 4px 7px;
}
.chat_box_container .chatbox_body .msg_body .img_container {
  height: 150px;
  width: 150px;
  margin: auto 0 auto 4px;
}
.chat_box_container .chatbox_body .msg_body .img_container img {
  width: 100%;
  height: 100%;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer {
  margin-top: 5px;
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer .date {
  font-size: 13px;
  padding-right: 7px;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer .delete {
  margin-left: 2px;
  margin-right: auto;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer .delete:hover {
  color: #57affc;
}
.chat_box_container .img_previewer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 11px;
  background-color: #7c7c7e;
}
.chat_box_container .chatbox_footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_box_container .chatbox_footer .custom_form_group {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 80%;
  padding: 2px 6px;
  background-color: #ffffff;
}
.chat_box_container .chatbox_footer .custom_form_group .control {
  margin: auto 0;
  width: 90%;
  height: 100%;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: gainsboro;
  border-radius: 11px;
}
.chat_box_container .chatbox_footer .custom_form_group .control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-style: none;
}
.chat_box_container .chatbox_footer .custom_form_group .submit {
  width: 10%;
  font-size: 10px;
  font-weight: bold;
  color: #0484f3;
  text-align: center;
  border-radius: 10px;
  background-color: #bdb7b7;
  border: none;
}
.chat_box_container .chatbox_footer .custom_form_group .upload-btn-wrapper {
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.chat_box_container .chatbox_footer .custom_form_group .btn {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #0484f3;
  text-align: center;
  border-radius: 10px;
  background-color: #bdb7b7;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}
.chat_box_container .chatbox_footer .custom_form_group .btn:focus {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-style: none;
}
.chat_box_container .chatbox_footer .custom_form_group .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}