.debugger {
    position: absolute;
    left: 50%;
    top: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

.pushnav-wrapper {
    position: relative;
    width: 200px;
    height: 30vh;
    transition: transform 0.3s;
    transform: translateX(-100%);
}
.pushnav-wrapper.show-menu {
    transform: none;
}

.pushjs-nav-toggle {
    position: absolute;
    top: 0;
    right: -60px;
    width: 43px;
    height: 40px;
    margin: 15px 0 0 15px;
    display: block;
    float: left;
    padding: 0;
    color: #345;
    border: 2px solid #345;
    z-index: 2;
}
.pushjs-nav-toggle span {
    position: relative;
    background-color: #345;
    height: 2px;
    display: block;
    width: 22px;
    margin: 17px auto 0;
    transition: all 0.4s;
    transition-delay: 0.3s;
}
.pushjs-nav-toggle span:before, .pushjs-nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 0;
    left: 1px;
    top: 50%;
    margin-top: -7px;
    transition: all 0.3s 0.3s;
}
.pushjs-nav-toggle span:before {
    box-shadow: 0 14px 0 1px #345;
}
.pushjs-nav-toggle span:after {
    box-shadow: 0 0 0 1px #345;
}
.show-menu .pushjs-nav-toggle span {
    background-color: transparent;
}
.show-menu .pushjs-nav-toggle span:before {
    transform: rotate(-45deg);
}
.show-menu .pushjs-nav-toggle span:after {
    transform: rotate(45deg);
}
.show-menu .pushjs-nav-toggle span:before, .show-menu .pushjs-nav-toggle span:after {
    margin-top: 0;
    box-shadow: 0 0 0 1px #345;
}

.pushnav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 5px 1px #ddd;
    background-color: #fafafa;
}
.pushnav .pushnav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.45em 0.6em;
    background-color: #456;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: backgroun-color 0.2s;
}
.pushnav .pushnav-toggle:hover {
    background-color: #345;
}
.pushnav .pushnav-toggle.back-visible .pushnav-back {
    opacity: 1;
}
.pushnav .pushnav-toggle.back-visible .pushnav-title {
    transform: translateX(40px);
}
.pushnav .pushnav-title {
    position: absolute;
    left: 0;
    top: 0.8em;
    padding-left: 0.7em;
    transition: transform 0.3s;
}
.pushnav .pushnav-back {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}
.pushnav .pushnav-back:before, .pushnav .pushnav-back:after {
    content: "";
    position: absolute;
    top: 50%;
}
.pushnav .pushnav-back:before {
    left: 50%;
    width: 9px;
    height: 9px;
    border: 2px solid currentcolor;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.pushnav .pushnav-back:after {
    left: 28%;
    width: 15px;
    height: 2px;
    background-color: currentcolor;
    margin-top: -1px;
}
.pushnav .pusha {
    display: block;
    position: relative;
    padding: 0.7em;
    border-bottom: 1px solid #eee;
    color: #FF0000;
    text-decoration: none;
    transition: color 0.15s, background-color 0.15s;
}



.pushnav .pusha:hover {
    color: #333;
    background-color: #efefef;
}
.pushnav .pushul {
    list-style: none;
    padding: 45px 0 0;
    transition: transform 0.3s;
    background-color: #fafafa;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.pushnav .pushul .pushnextul {
    display: none;
    left: 100%;
}
.pushnav .pushli.has-dropdown > .pusha {
    padding-right: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pushnav .pushli.has-dropdown > .pusha:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    width: 9px;
    height: 9px;
    border: 1px solid currentcolor;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: translateY(-90%) rotateZ(-45deg);
    transition: transform 0.3s;
    transform-origin: 100%;
}
.pushnav .pushli.nav-dropdown-open .pushul {
    display: block;
}
